body {
	margin: 0 auto;
}

/* HEADER LOGO NAV */

header {
	background-color: white;
  	border-bottom: 1px solid black;
	display: flex;
  	align-items: center;
	font-family: Verdana;
  	font-size: 14px;
  	font-weight: bold;
  	position: fixed;
  	padding: 10px;
  	width: 100%;
}

.logo {
	color: mediumaquamarine;
	display: flex;
	margin-right: auto;
	padding-left: 10px;
}

.logo h4 {
	padding-left: 10px;
}

nav {
	padding-right: 20px;
}

nav span {
	display: inline-block;
	padding: 10px;
}

nav span a {
	color: black;
}


/* MAIN PAGE CONTENT */
p {
  	font-size: 17px;
  	color: black;
}

.main {
	font-family: Georgia;
	display: flex;
	justify-content: space-around;
	padding-top: 100px;
	margin-bottom: 50px;
	width: 100%;
}

.column.large {
  	width: 630px;
  	display: flex;
  	justify-content: space-between;
  	flex-wrap: wrap;
}

#mainstory {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
	display: flex;
	align-items: center;
	height: 294px;
  	font-weight: bold;
  	font-size: 40px;
  	color: white;
  	padding-left: 25px;
}

.articles {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
}

.articles > div{
	width: 47.5%;
}

.headline {
	display: flex;
  	font-weight: bold;
  	font-size: 30px;
	color: white;
	text-align: center;
	align-items: center;
}

#fall {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
	height: 300px;
}

#camera {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
	background-repeat: none;
	height: 300px;
}

.column.medium {
  	width: 300px;
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

.column.medium h2 {
	margin-top: 0;
}

#cats {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
	height: 300px;
}

.column.small {
  	width: 240px;
  	display: flex;
  	flex-direction: column;
}

.column.small h3 {
	font-size: 16px;
  	font-weight: bold;
  	padding-bottom: 30px; 
  	text-align: center;
}

.column.small p {
	background-color: whitesmoke;
  	font-family: Verdana;
  	font-size: 12px;
  	color: dimgray;
  	border-bottom: 1px solid black;
  	margin: 0; 
  	padding: 15px;
}

/* FOOTER */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	background-color: mediumaquamarine;
  	margin: auto;
  	height: 325px;
  	width: 100%;
}

.footertitle {
	font-family: Georgia;
  	font-size: 16px;
  	font-weight: bold;
  	color: white;
}

.i {
	font-weight: normal;
}

footer span {
	font-family: Verdana;
  	font-size: 12px;
	padding: 10px;
}

footer span a {
	color: black;
}